@using Microsoft.AspNetCore.Identity
@using SlimeStoreWeb.Data;
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link fw-bold text-white comic" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link bg-orange btn btn-link fw-bold text-white comic">LOGOUT</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link fw-bold text-white comic" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
    </li>
    <li class="nav-item">
            <a class="nav-link fw-bold text-white comic" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
    </li>
}
</ul>
